/*************************************************/
/*                     GLOBAL                    */
/*************************************************/

.lengow-nav #menucountertrial {
  padding: 0 15px;
}

.lengow-nav #menucountertrial a {
  display: inline-block;
  text-decoration: underline;
  padding: 0 0px;
  margin-left: 5px;
}

.lengow-nav #menucountertrial a:hover {
  background: none;
  color: #00aeef;
  text-decoration: underline;
}

/*************************************************/
/*                     CONNECT                   */
/*************************************************/

#lengow_iframe {
  width: 100%;
  height: 900px;
  margin: 0 auto;
}

.lgw-connect {
  margin: 0 auto;
  float: none;
}

body.lgw-home-iframe{
  background: #fff;
}

body.lgw-home-iframe button {
  margin: 15px auto!important;
  display: block!important;
  font-size: inherit;
}

body.lgw-home-iframe .lgw-container {
  /*width: inherit;*/
}

body.lgw-home-iframe .lgw-content-section img {
  margin-bottom: 60px;
}


body.lgw-home-iframe .lgw-content-section p {
  margin: 25px 0;
}

/*************************************************/
/*                      HOME                     */
/*************************************************/

.adminlengowhome .lengow-nav {
  display:none;
}

.adminlengowhome #lgw-preprod {
  color: white;
  background: #e55a4d;
  padding: 5px 10px;
  position: absolute;
  left: 0px;
  font-size: 12px;
  z-index: 2;
  top: 0px;
}

.adminlengowhome .lgw-label_red {
  padding: 0 8px;
}

.lgw-home-header {
  height: 240px;
  padding: 60px 30px 0;
  background: #2e3340;
}

.lgw-home-header h1 {
  margin: 15px 0 5px;
  font-weight: 300;
  color: white;
}

.adminlengowhome .lgw-row h5 {
  margin: 0;
  padding: 0;
  font-style: initial;
  font-size: 15px;
}
.lgw-home-stats {
  margin: 60px 0 30px;
}

.lgw-home-menu .lgw-box {
  min-height: 280px;
}

.adminlengowhome .lgw-container .lgw-btn-white {
  background-color: #fff;
  border: 1px solid #d7d7d7;
  color: #00aeef;
}

.adminlengowhome .lgw-container .lgw-btn-white:hover,
.adminlengowhome .lgw-container .lgw-btn-white:focus {
  background-color: #f7f7f7;
  color: #555;
}

/*************************************************/
/*                     ORDERS                    */
/*************************************************/

#lengow_wrapper_messages {
  max-width: 600px;
}

#lengow_charge_import_order {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
  background: rgba(255,255,255,.95);
  text-align: center;
  padding-top: 150px;
  font-size: 24px;
  font-weight: 300;
}
