/*************************************************/
/*                     GLOBAL                    */
/*************************************************/

.lengow-nav #menucountertrial,
.lengow-nav #menupluginavailable {
  padding: 0 5px;
}

.lengow-nav #menucountertrial a,
.lengow-nav #menupluginavailable a {
  display: inline-block;
  text-decoration: underline;
  padding: 0 0px;
  margin-left: 5px;
}

.lengow-nav #menucountertrial a:hover,
.lengow-nav #menupluginavailable a:hover {
  background: none;
  color: #00aeef;
  text-decoration: underline;
}

.lgw-container.lgw-footer {
  margin: 50px auto 0 auto;
}


/*************************************************/
/*                     CONNECT                   */
/*************************************************/

.lgw-connection {
  max-width: 800px;
  position: relative;
  color: #52667a;
  padding: 30px;
  background: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  border: 1px solid #d1d9e0;
}

.lgw-connection p {
  line-height: 1.5;
  margin: 0 0 10px;
  overflow-wrap: break-word;
}

.lgw-connection .lgw-margin-top-small {
  margin-top: 15px!important;
}

.lgw-connection .lgw-logo {
  margin-top: 30px!important;
  margin-bottom: 45px!important;
}

.lgw-connection .lgw-content-section {
  margin-bottom: 30px;
}

.lgw-connection .lgw-btn {
  font-weight: 600;
  margin: 15px 5px;
}

.lgw-connection .lgw-module-illu {
  display: block;
  height: 114px;
  margin: 60px auto 45px;
  position: relative;
  width: 426px;
}

.lgw-connection .lgw-module-illu.mod-connected {
  margin-top: 0px;
}

.lgw-connection .lgw-module-illu.mod-disconnected {
  margin: 60px auto 50px;
}

.lgw-connection .lgw-module-illu-lengow {
  position: absolute;
  right: 63px;
  top: 22px;
  z-index: 1;
}

.lgw-connection .lgw-module-illu-module {
  left: 50px;
  position: absolute;
  top: 12px;
  z-index: 1;
}

.lgw-connection .lgw-module-illu-module.mod-connected {
  left: 65px;
}

.lgw-connection .lgw-module-illu-plug {
  left: 128px;
  position: absolute;
  top: 21px;
  z-index: 0;
}

.lgw-connection .lgw-module-illu-plug.mod-connected {
  left: 158px;
  top: 0px;
}

.lgw-connection .lgw-module-illu-plug.mod-disconnected {
  left: 129px;
  top: -3px;
}

.lgw-connection h2 {
  font-size: 22px;
  color: #52667a;
  margin: 0 0 20px;
  font-weight: 400;
}

.lgw-connection input[type="text"] {
  margin-bottom: 32px;
  background: #fff;
  font-size: 12px;
  line-height: 22px;
  color: #52667a;
}

.lgw-connection input[type="text"]:disabled {
  background: #f0f2f5;
  border-color: #d1d9e0;
  cursor: default!important;
}

.lgw-connection .lgw-catalog-select {
  border-radius: 4px;
  border: 1px solid #d1d9e0;
  display: block;
  position: relative;
  margin-bottom: 20px;
  padding: 20px 20px 40px;
  text-align: left;
}

.lgw-connection .lgw-catalog-select label {
  font-weight: 400;
  color: #52667a;
  margin: 0 0 10px;
}

.lgw-connection .lgw-catalog-select .select2-search  {
  z-index: auto;
}

.lgw-connection .select2-container {
  max-width: none;
}

.lgw-connection .select2-search__field {
  padding: 0 15px!important;
  font-size: 12px!important;
  font-weight: normal;
  width: 100%!important;
}

.lgw-connection .select2-selection--multiple {
  border: 1px solid #d7d7d7!important;
  border-radius: 3px;
}

/*************************************************/
/*                      HOME                     */
/*************************************************/

#lengow_home_wrapper .lengow-nav {
  display:none;
}

#lengow_home_wrapper #lgw-debug {
  top: 0px;
}

#lengow_home_wrapper .lgw-label.red {
  padding: 0 8px;
}

.lgw-home-header {
  height: 240px;
  padding: 60px 30px 0;
  background: #2e3340;
}

.lgw-home-header h1 {
  margin: 15px 0 5px;
  font-weight: 300;
  color: white;
}

#lengow_home_wrapper .lgw-row h5 {
  margin: 15px;
  padding: 0;
  font-style: initial;
  font-size: 15px;
}

.lgw-home-stats {
  margin: 60px 0 30px;
}

.lgw-home-menu .lgw-box {
  min-height: 280px;
}

#lengow_home_wrapper .lgw-btn-white {
  background-color: #fff;
  border: 1px solid #d7d7d7;
  color: #00aeef;
}

#lengow_home_wrapper .lgw-btn-white:hover,
#lengow_home_wrapper .lgw-btn-white:focus {
  background-color: #f7f7f7;
  color: #555;
}

#lengow_home_wrapper #alert-counter-trial,
#lengow_home_wrapper #alert-plugin-available {
  margin-bottom: 10px;
}

/*************************************************/
/*                    PRODUCTS                   */
/*************************************************/

#lengow_feed_wrapper {
  min-width: 900px;
  max-width: 1400px;
  width: auto;
}

#lgw-product-toolbar {
  position: absolute;
  font-size: 13px;
  top: 40px;
}

#lgw-product-toolbar a {
  margin: 0px;
  padding: 5px 10px;
}

#lengow_feed_table .js-lengow_select_all {
  display: inline-block;
  margin-left: 10px;
}

/*************************************************/
/*                     ORDERS                    */
/*************************************************/

#lengow_order_wrapper {
  min-width: 1100px;
  width: auto;
  margin-left: 40px;
  margin-right: 40px;
}

#lengow_order_wrapper,
#lengow_order_setting_wrapper {
  padding-top: 60px;
}

#lengow_order_wrapper #lgw-debug,
#lengow_order_setting_wrapper #lgw-debug {
  top: 110px;
}

#lengow_charge_import_order {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
  background: rgba(255,255,255,.95);
  text-align: center;
  padding-top: 150px;
  font-size: 30px;
  font-weight: 300;
}
#lengow_charge_import_order p {
  font-size: 24px;
}

#lengow_no_order_message {
  height: 300px;
  padding: 130px 30px 30px 30px;
  text-align: center;
  font-size: 18px;
  color: #828282;
}

#lengow_order_header {
  margin-bottom: 10px;
  height: 140px;
}

#lengow_order_grid td, #lengow_order_grid th {
  vertical-align: middle;
}

#lengow_order_grid .column-action {
  width: 12%;
  text-align: center;
}

#lengow_order_grid .lgw-label.lgw-order-status {
  padding: 0 7px;
  white-space: normal;
  height: auto;
  text-align: center;
  border-radius: 10px;
}

#lengow_order_grid .column-status {
  text-align: center;
}

#lengow_order_grid .lgw-btn {
  margin: 0;
}

#lengow_order_grid tbody tr {
  height: 60px;
}

#lengow_order_grid .tablenav .actions {
  padding: 0;
}

#lgw-order-toolbar {
  position: absolute;
}

#lgw-order-toolbar a {
  margin: 0px;
  padding: 5px 10px;
  font-size: 13px;
}

#lgw-order-filter {
  display: inline-block;
}

#lgw-order-filter select {
  margin-right: 5px;
}

.lengow_datepicker_box {
  min-width: 180px;
  display: inline-block;
}

#lgw-order-filter input.lengow_datepicker {
  width: 100px;
  padding: 0 7px;
  font-size: 13px;
}

#lgw-order-filter input.lengow_datepicker:first-child {
  margin-right: 3px;
}