/*************************************************/
/*                ORDERS INFO                    */
/*************************************************/
#lgw-box-order-info {
    display: flex;
}

#lgw-box-order-info ul {
    margin: auto;
    width: 40%;
    padding: 20px;
}

#lgw-box-order-info ul .lgw-order-label {
    float: right;
}

#lgw-box-order-info ul .lgw-order-title {
    font-weight: bold;
}

#lgw-box-order-info ul textarea {
    margin-top: 10px;
    width: 100%;
    background-color: lightgrey;
    height: 120px;
}

/*************************************************/
/*              ORDERS SHIPPING                  */
/*************************************************/

#lgw-box-order-shipping label {
    display: block;
    padding: 0 0 3px;
    color: #777;
}

#lgw-box-order-shipping input,
#lgw-box-order-shipping select {
    width: 100%;
}
