
ul.tagit {
    margin: 0;
    family: 'Open Sans', sans-serif;
    height: auto;
    cursor: default;
    line-height: inherit;
    min-height: 44px;
    background: #fafafa;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.05);
    color: #464646;
    display: block;
    outline: none;
    padding: 0 15px;
    transition: all 100ms ease;
}
ul.tagit:hover {
    border-color: #c0c0c0;
}
ul.tagit:focus {
    background-color: #fcfcfc;
    border-color: #00b0f0;
    outline: none;
}
ul.tagit.state.error {
    border-color: #e55a4d;
}
ul.tagit.state.ok {
    border-color: #7bc27a;
}
ul.tagit li {
    display: block;
    float: left;
    height: 40px;
}
ul.tagit li.tagit-choice {
    position: relative;
    line-height: inherit;
    height: 28px;
    line-height: 28px;
    margin-top: 7px;
    background: white;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    padding: 0 30px 0 10px;
    color: #61687c;
    font-size: 15px;
}
ul.tagit li.tagit-choice a.tagit-label {
    cursor: pointer;
    text-decoration: none;
}
ul.tagit li.tagit-choice.highlight {
    border-color: #e6594d;
}
ul.tagit li.tagit-choice.state.error {
    border-color: #e6594d;
    border-image: none;
    border-style: none none dotted;
    border-width: medium medium 2px;
}
ul.tagit li.tagit-choice {
    margin-right: 5px;
}
ul.tagit li.tagit-choice .tagit-close {
    cursor: pointer;
    position: absolute;
    right: 0px;
    height: 26px;
    width: 20px;
    top: 0px;
    border-left: 1px solid #d7d7d7;
    border-radius: 3px;
    background: url(../images/components/input/tag-close.png) center center no-repeat;
}
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: none;
}
ul.tagit li.tagit-choice .tagit-close:hover {
    background-color: #f5f5f5;
}
ul.tagit li.tagit-choice input {
    display: block;
    float: left;
}
ul.tagit input[type="text"] {
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0;
    width: inherit;
    background: transparent !important;
    outline: none;
    height: 44px;
    line-height: calc(44px - 2px);
}
ul.tagit li.tagit-new {
    display: block;
}
ul.tagit li.tagit-new input.ui-widget-content {
    width: 100%;
}
ul.tagit div.ui-effects-wrapper {
    display: inline-block;
}
ul.tagit:after {
    clear: both;
    content: " ";
    display: block;
}

.error ul.tagit {
    border-color: #e6594d;
}

input.tagit-hidden-field {
    display: none;
}

.tagit-autocomplete .ui-menu-item {
    margin: 0;
    padding: 3px 10px;
}
.tagit-autocomplete .ui-menu-item.ui-state-focus {
    margin: 0;
    padding: 3px 10px;
    background-color: #f5f5f5;
    color: #464646;
}

.tagit-group {
    position: relative;
}
.tagit-group .add-tag {
    position: absolute;
    top: 8px;
    left: 8px;
    height: 28px;
    width: 28px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    background: url(../images/components/input/tag-add.png) center center no-repeat white;
}
.tagit-group .add-tag:hover, .tagit-group .add-tag:focus {
    border-color: #c0c0c0;
}
.tagit-group select {
    position: absolute;
    top: 43px;
    left: 0;
    z-index: 1;
}
.tagit-group ul.tagit {
    padding-bottom: 7px;
    padding-left: 42px;
}
.tagit-group ul.tagit li.tagit-new {
    display: none;
    pointer-events: none;
}
.tagit-group input {
    display: none;
}
.tagit-group.writable li.tagit-new input {
    display: inline;
}
.tagit-group.writable ul.tagit li.tagit-new {
    display: block;
    height: 36px;
    pointer-events: auto;
}
.tagit-group .dropdown-menu {
    left: 8px;
    top: 44px;
    max-height: 254px;
    overflow: auto;
}

.tagit-no-add ul.tagit {
    padding-left: 15px;
}

.tagit-autocomplete {
    max-height: 254px;
    overflow: auto;
}
